:root{
    --gradient: linear-gradient(90deg, pink, orange)
}


body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
}

.container{
    background: white;
    width: 70vw;
    padding: 3rem;
}

.title{
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .title{
        font-size: 700px;
    }

}